.parking-editprofile-title {
    text-align: center;
    color: white;
    padding: 30px 20px;
}

.parking-editprofile-name {
    font-size: 24px;
    font-weight: bold;
}

.parking-editprofile-name::after {
    content: 'My Profile';
    font-size: 15px;
}

.parking-editprofile-chevron {
    position: absolute;
    background-color: transparent;
    top: 23.5px;
    border: none;
    left: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    text-shadow: 0.5px 0 white, -0.5px 0 white, 0 0.5px white, 0 -0.5px white;
}

.parking-editprofile-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -1.5rem;
}

.parking-editprofile-profile i {
    font-size:10rem;
    color: white;
}

.parking-editprofile-background {
    width: 100%;
    height: 100px;
    border-radius: 100px 100px 0px 0px;
    background-color: var(--secondary-color-1);
    margin-top: 1rem;
}

.parking-editprofile-body {
    width: 100%;
    height: 468px;
    border-radius: 50px 50px 0px 0px;
    background-color: var(--secondary-color-2);
    margin-top: -5.5rem;
}

#parking-editprofile-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
}

#parking-editprofile-body-name {
    font-size: 36px;
    font-weight: bold;
}

#parking-editprofile-body-description {
    font-size: 16px;
    font-weight: bold;
    color: #787878;
}

.parking-editprofile-info {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding: 0px 1.5rem;
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #787878;
}

.parking-editprofile-info-name {
    display: flex;
    flex-direction: column;
}

#parking-editprofile-info-name {
    font-size: 16px;
    font-weight: bold;
}

#parking-editprofile-info-bar {
    font-size: 12px;
    color: #929292;
}

.parking-editprofile-info-1 {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 0px 1.5rem;
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #787878;
}

.parking-editprofile-info-lastname {
    display: flex;
    flex-direction: column;
}

#parking-editprofile-info-lastname {
    font-size: 16px;
    font-weight: bold;
}

#parking-editprofile-info-bar {
    font-size: 12px;
    color: #929292;
}

.parking-editprofile-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

#parking-editprofile-button {
    background-color: var(--primary-color);
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 10px 0px;
    width: 100%;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#parking-editprofile-button:hover {
    background-color: #7152a0;
}

.borderless {
    border: none;
}

#parking-editprofile-info-name {
    color: #787878;
    outline: none;
    background-color: white;
}

#parking-editprofile-info-lastname {
    color: #787878;
    outline: none;
    background-color: white;
}

#parking-editprofile-info-phone {
    color: #787878;
    outline: none;
    background-color: white;
    font-weight: bold;
}

#parking-editprofile-info-name::placeholder {
    color: #787878;
}

#parking-editprofile-info-lastname::placeholder {
    color: #787878;
}

#parking-editprofile-info-phone::placeholder {
    color: #787878;
    font-weight: bold;
}

@media screen and (min-width: 393px) and (min-height: 852px) {
    .parking-editprofile-body {
        width: 100%;
        height: 476px;
        border-radius: 50px 50px 0px 0px;
        background-color: var(--secondary-color-2);
        margin-top: -5.5rem;
    }
}

@media screen and (min-width: 428px) and (min-height: 926px) {
    .parking-editprofile-body {
        width: 100%;
        height: 550px;
        border-radius: 50px 50px 0px 0px;
        background-color: var(--secondary-color-2);
        margin-top: -5.5rem;
    }
}

@media screen and (min-width: 768px) and (min-height: 1024px) {
    .parking-editprofile-body {
        width: 100%;
        height: 648px;
        border-radius: 50px 50px 0px 0px;
        background-color: var(--secondary-color-2);
        margin-top: -5.5rem;
    }
}