.layout-container {
    height: 100%;
    position: relative;
}

@media screen and (min-width: 1280px) and (min-height: 720px) {
    .layout-container {
        padding: 0px 260px;
    }
}

@media screen and (min-width: 1280px) and (min-height: 1024px) {
    .layout-container {
        padding: 0px 260px;
    }
}

@media screen and (min-width: 1366px) and (min-height: 768px) {
    .layout-container {
        padding: 0px 350px;
    }
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
    .layout-container {
        padding: 0px 600px;
    }
}